@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  background-image: url("../img/backGround.png");
  background-repeat: no-repeat;
  background-size: auto 800px;
  background-position: top center;
  background-color: #fff;
  overflow-x: hidden;
}

@media (min-width: 1366px) {
  body {
    background-size: 100% 800px;
  }
}

@media (max-width: 1023px) {
  body {
    background-size: 100% 800px;
  }
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav {
  margin: 46px 128px 0 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-bottom: 28px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

@media (max-width: 1024px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-bottom: 0;
    margin: 64px auto 0 auto;
  }
}

.nav__logo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 1024px) {
  .nav__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1024px) {
  .nav__img {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

@media (max-width: 600px) {
  .nav__img {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@media (max-width: 360px) {
  .nav__img {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.nav__list {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  background-color: #76788D;
}

@media (min-width: 799px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
    top: 0;
    height: auto;
    background-color: transparent;
  }
}

.nav__item {
  margin: 0 20px;
}

@media (min-width: 799px) {
  .nav__item {
    border: 0;
  }
}

.nav__link {
  color: black;
}

.nav__link:hover {
  color: #555555;
}

@media (min-width: 799px) {
  .nav__link {
    color: #76788D;
  }
  .nav__link--changeFontColor {
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #4C56C0;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media (min-width: 799px) {
  .header.header--alignLeft {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.header__mainHeader {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 88px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #000000;
  max-width: 60%;
  margin: 156px auto 24px auto;
  text-transform: uppercase;
}

@media (max-width: 1023px) {
  .header__mainHeader {
    font-size: 56px;
    line-height: 56px;
    max-width: none;
    margin: 126px auto 24px auto;
  }
}

.header__paragraph {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
}

@media (max-width: 1023px) {
  .header__paragraph {
    width: 100%;
    padding: 0 24px;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
  }
}

@media (max-width: 1023px) {
  .header__paragraph.header__paragraph--alignLeft {
    text-align: left;
    margin: 0 auto 24px auto;
  }
}

.header__contactLink {
  display: block;
  margin: 43px auto 0 auto;
  padding: 19px 40px;
  background: #4C56C0;
  color: #fff;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  border: 0;
  color: white;
  opacity: 0.9;
  cursor: pointer;
}

.header__contactLink:hover {
  background-color: #353EA3;
}

.plasters {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin: 371px 120px 160px 120px;
}

@media (max-width: 1205px) {
  .plasters {
    margin: 368px 80px 160px 80px;
  }
}

@media (max-width: 1205px) {
  .plasters {
    margin: 268px 80px 160px 80px;
  }
}

@media (max-width: 1023px) {
  .plasters {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 338px auto 160px auto;
  }
}

.plasters__flexboxContainer {
  max-width: 541px;
}

@media (max-width: 1369px) {
  .plasters__flexboxContainer {
    max-width: 441px;
  }
}

@media (max-width: 1023px) {
  .plasters__flexboxContainer {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: none;
    padding: 0 30px;
  }
}

.plasters__img {
  width: 544px;
  height: 100%;
}

@media (max-width: 1080px) {
  .plasters__img {
    -webkit-transform: scale(0.88) translateX(-40px);
            transform: scale(0.88) translateX(-40px);
  }
}

@media (max-width: 1023px) {
  .plasters__img {
    margin: 0 auto;
    -webkit-transform: scale(1) translateX(0);
            transform: scale(1) translateX(0);
    width: 556px;
  }
}

@media (max-width: 556px) {
  .plasters__img {
    width: 100%;
  }
}

.plasters__header {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 88px;
  line-height: 90px;
  letter-spacing: -0.04em;
  color: #2B362A;
}

@media (max-width: 1250px) {
  .plasters__header {
    font-size: 78px;
    line-height: 80px;
  }
}

@media (max-width: 1110px) {
  .plasters__header {
    font-size: 54px;
    line-height: 56px;
  }
}

@media (max-width: 1023px) {
  .plasters__header {
    text-align: center;
    margin-top: 40px;
  }
}

@media (max-width: 394px) {
  .plasters__header {
    font-size: 44px;
    line-height: 46px;
  }
}

.plasters__paragraph {
  font-size: 24px;
  line-height: 34px;
  color: #5B5B5B;
  margin: 40px auto;
}

@media (max-width: 1110px) {
  .plasters__paragraph {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (max-width: 1110px) {
  .plasters__paragraph {
    padding: 0 30px;
  }
}

.plasters__contactLink {
  display: block;
  margin: 0;
  padding: 19px 40px;
  background: #4C56C0;
  color: #fff;
  opacity: 0.9;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  border: 0;
  max-width: 350px;
}

.plasters__contactLink:hover {
  background-color: #353EA3;
}

@media (max-width: 1090px) {
  .plasters__contactLink {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (max-width: 1023px) {
  .plasters__contactLink {
    margin: 0 auto;
    font-size: 24px;
    line-height: 40px;
  }
}

@media (max-width: 394px) {
  .plasters__contactLink {
    font-size: 26px;
    line-height: 28px;
  }
}

.whatWeDo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #4C56C0;
  padding: 0 64px 160px 64px;
}

@media (max-width: 1023px) {
  .whatWeDo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 0 160px 0;
  }
}

.whatWeDo__head {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 96px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #FFFFFF;
  margin: 120px auto 24px auto;
  width: 100%;
}

@media (max-width: 1023px) {
  .whatWeDo__head {
    margin: 120px auto 40px auto;
    font-size: 56px;
    line-height: 56px;
  }
}

.whatWeDo__paragraph {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  padding: 0  250px;
  color: #FFFFFF;
  margin: 0 auto;
  padding-bottom: 80px;
}

@media (max-width: 1023px) {
  .whatWeDo__paragraph {
    padding: 0 40px;
    max-width: none;
    font-size: 20px;
    line-height: 28px;
  }
}

.whatWeDo__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
  margin-top: 40px;
  padding: 0 66px;
}

.whatWeDo__container:hover .whatWeDo__icon {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

@media (max-width: 1023px) {
  .whatWeDo__container {
    margin-top: 80px;
    padding: 0 40px;
  }
}

.whatWeDo__icon {
  margin: 0 auto;
}

@media (max-width: 1023px) {
  .whatWeDo__icon {
    padding: 0;
  }
}

.whatWeDo__header {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  margin: 40px 0 16px 0;
}

.whatWeDo__introduction {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #DDE0FB;
}

@media (max-width: 1023px) {
  .whatWeDo__introduction {
    font-size: 16px;
    line-height: 24px;
  }
}

.whatWeDo--addBorder {
  border-left: 1px solid #656DC1;
  border-right: 1px solid #656DC1;
}

@media (max-width: 1023px) {
  .whatWeDo--addBorder {
    border: 0;
  }
}

.whatWeDo__contactLink {
  display: block;
  margin: 80px auto 0 auto;
  padding: 19px 40px;
  background: #000;
  font-weight: 900;
  font-size: 24px;
  line-height: 40px;
  cursor: pointer;
  color: #FFFFFF;
  opacity: 0.9;
  text-align: center;
  text-transform: uppercase;
  border: 0;
}

@media (max-width: 1023px) {
  .whatWeDo__contactLink {
    margin: 80px auto 0 auto;
  }
}

@media (max-width: 394px) {
  .whatWeDo__contactLink {
    font-size: 16px;
    line-height: 18px;
  }
}

.whatWeDo__contactLink:hover {
  background-color: #353535;
}

.whyUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #E4E6F1;
  padding: 0 64px 160px 64px;
}

@media (max-width: 1023px) {
  .whyUs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 0 160px 0;
  }
}

.whyUs__head {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 90px;
  text-align: center;
  letter-spacing: -0.04em;
  margin: 160px auto 120px auto;
  width: 100%;
}

@media (max-width: 1023px) {
  .whyUs__head {
    margin: 120px auto 40px auto;
    font-size: 56px;
    line-height: 56px;
  }
}

.whyUs__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  margin-top: 40px;
  padding: 0 66px;
}

@media (max-width: 1023px) {
  .whyUs__container {
    margin-top: 80px;
    padding: 0 40px;
  }
}

.whyUs__container:hover .whyUs__icon {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.whyUs__icon {
  margin: 0 auto;
}

@media (max-width: 1023px) {
  .whyUs__icon {
    padding: 0;
  }
}

.whyUs__header {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #2B362A;
  text-align: center;
  margin: 40px 0 16px 0;
}

.whyUs__introduction {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #5B5B5B;
}

.whyUs--addBorder {
  border-left: 1px solid rgba(5, 5, 5, 0.2);
}

.whyUs__blockqouteContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 120px;
}

@media (max-width: 1023px) {
  .whyUs__blockqouteContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.whyUs__blockqoute-box {
  background-color: #fff;
  border-radius: 13px;
  padding: 48px 36px;
  margin: 0 20px;
  width: 33%;
}

@media (max-width: 1023px) {
  .whyUs__blockqoute-box {
    width: 80%;
    margin-top: 40px;
  }
}

.whyUs__blockqoute-box:hover {
  -webkit-box-shadow: 0px 0px 24px #BEC1D7;
          box-shadow: 0px 0px 24px #BEC1D7;
}

.whyUs__blockqoute {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #000000;
}

.whyUs__blockqoute-name {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #6D6D6D;
  margin-top: 16px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 800px;
  background-image: url("../img/backGround.png");
  background-repeat: no-repeat;
  background-size: auto 800px;
  background-position: top center;
}

@media (min-width: 1366px) {
  .footer {
    background-size: 100% 800px;
  }
}

@media (max-width: 1023px) {
  .footer {
    background-size: 100% 800px;
  }
}

.footer__header {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 90px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #2A2B36;
  max-width: 731px;
  margin: 181px auto 78px auto;
  padding: 0 30px;
}

@media (max-width: 800px) {
  .footer__header {
    max-width: none;
    font-size: 60px;
    line-height: 90px;
  }
}

@media (max-width: 450px) {
  .footer__header {
    font-size: 42px;
    line-height: 50px;
  }
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 800px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 800px) {
  .footer__box {
    margin-top: 40px;
  }
}

.footer__paragraph {
  margin-top: 20px;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #2B362A;
}

@media (max-width: 1024px) {
  .desktop {
    display: none;
  }
}

body {
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

.header {
  width: 50%;
  padding: 1%;
  background-color: #e95b0a;
  text-align: center;
  margin: 5vh auto;
  border-radius: 20%;
}

.header h2 {
  color: #272626;
  font-size: 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.imagesContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.image {
  width: 25%;
  height: 30vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

@media (max-width: 1023px) {
  .image {
    width: 33.33%;
  }
}

@media (max-width: 568px) {
  .image {
    width: 50%;
  }
}

.image-text {
  width: 100%;
  height: 100%;
  z-index: 4;
}

.image-text p {
  position: relative;
  top: 68%;
  padding-left: 7%;
  font-size: 18px;
  line-height: 15px;
  color: #b8b4b4;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.image-text h4 {
  position: relative;
  top: 70%;
  padding-left: 7%;
  font-size: 18px;
  line-height: 20px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  font-weight: lighter;
}

.image-text div i {
  font-size: 15px;
  color: #2c2b2b;
  display: none;
}

.image-text:hover {
  cursor: pointer;
  z-index: 2;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6)));
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.image-text:hover div {
  position: absolute;
  top: 50%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: #fff;
  font-size: 1.2em;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  z-index: 7;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.image-text:hover div i {
  display: inline-block;
}

.imagePop {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  display: none;
}

.imagePopUnder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  z-index: 12;
}

.imagePopUnder:hover {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.imageContain {
  position: relative;
  top: 0;
  left: -20%;
  width: 700px;
  height: 100%;
  z-index: 12;
  margin: 5vh auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

@media (max-width: 1023px) {
  .imageContain {
    width: 100%;
    height: 70vh;
    margin: auto 0;
  }
}

@-webkit-keyframes he {
  100% {
    left: 0;
  }
}

@keyframes he {
  100% {
    left: 0;
  }
}

.click1 {
  position: absolute;
  z-index: 14;
  top: 50%;
  left: 5%;
  cursor: pointer;
  color: #fff;
}

.click2 {
  position: absolute;
  z-index: 14;
  top: 50%;
  right: 5%;
  cursor: pointer;
  color: #fff;
}

.close {
  position: absolute;
  z-index: 14;
  top: 5%;
  right: 5%;
  cursor: pointer;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */